body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 0 25px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo img{
    width: 10rem;
}
.under{
    width: 100%;
    height: 2px;
    background-color: lightgray;
}

.navitems{
    display: flex;
    gap: 25px;
    font-size: 20px;
}
.navitems a{
    color: #2182da;
}